!!! XML
!!!
%html
	%head
		%title= @title
		%meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
		%link{:rel=>"stylesheet", :type=>"text/css", :href=>"./css/style.css"} 
		%link{:rel=>"stylesheet", :type=>"text/css", :href=>"./css/bootstrap.css"}    
		%script{:type => 'text/javascript', :src => "./js/d3/d3.v3.js"}
		%script{:type => 'text/javascript', :src => "./js/jquery-1.8.3.min.js"}
		%script{:type => 'text/javascript', :src => "./js/base.js"}
	%body
		%div{:class => "topbox"}
		%div{:id => "container"}
			!= yield
		%script{:type => "text/javascript", :src =>"./js/bootstrap/bootstrap-alert.js"}
		%script{:type => "text/javascript", :src =>"./js/bootstrap/bootstrap-modal.js"}