%div{:id => "searchModal", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", :'aria-lebelledby' => "myModalLabel", :'aria-hidden' => "true"}
	%div{:class => "modal-header"}
		%button{:type => "button", :class => "close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}x
		%h3 語を検索する
	%div{:class => "modal-body"}
		%form{:method => "GET", :action => "/search"}
			%input{:type => "text", :name => "query"}
			%input{:type => "hidden", :name => "page", :value => "1"}
			%button{:type => "submit"}検索