%div{:id => "content"}
	%h3 dictionareading!
	%h4 ログインして使う
	%a{:href => "/login", :class => "btn btn-large"}Login
	%a{:href => "/register", :class => "btn btn-large"}Register
	%h4 ログインしないで使う
	%a{:href => "/main", :class => "btn btn-large"}Main